html
  head
  title Fundoo-Notes
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='./css/fun.css')
  script(src='./css/jquery.min.js')
  script(src='./css/bootstrap.min.js ')
  body
  br
  br
  br
  center
    .panel.panel-primary(style='max-width: 350;max-height: 350')
      .panel-heading(style='max-height: 50;') CHANGE PASSWORD
      .panel-body(style='max-height: 300')
        form#form1(action='/changePassword?id=#{id}' method='post')
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#otp.form-control(type='password',name='otp',placeholder='One Time Password',value="#{otp}")
          br
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#pwd.form-control(type='password',data-toggle='tooltip',title='Eg:qwerty@4',name='password',placeholder='New Password' required='')
          br
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#cnf_pwd.form-control(type='password' data-toggle='tooltip' title='Eg:qwerty@4',name='cnf_password',placeholder='Confirm Password' required='')
          br
          #error-container
          br
          button#update.btn.btn-info(type='submit') Change Password
    center
      #content
