html
  head
    title Fundoo-Notes
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/fun.css')
    script(src='./css/jquery.min.js')
    script(src='./css/bootstrap.min.js ')
  body
  br
  br
  br
  center
    #forgot.panel.panel-primary(style='max-width: 350;max-height: 200')
      .panel-heading(style='max-height: 50;') FORGOT PASSWORD
      .panel-body(style='max-height: 100')
        form#form1(action='/forgotpassword' method='post')
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-envelope
            input#name.form-control(type='text',data-toggle='tooltip',title='Eg:example@example.com',name='email',placeholder='E-Mail ID',required='')
          br
          #error-container #{message}
          br
          button#update.btn.btn-info(type='submit') Send
    center
      #content
