html
  head
    title Fundoo-Notes
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/fun.css')
    script(src='./css/jquery.min.js')
    script(src='./css/bootstrap.min.js ')
  style.
    #error-container {
    color: #FF0000;
    }
  body
    br
    br
    br
    center
      .panel.panel-primary(style='max-width: 350')
        .panel-heading(style='max-height: 50;') LOGIN
        #index-heading.panel-body(style='overflow:hidden')
          br
          form#form1(action='/login', method='post')
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input#email.form-control(type='text', data-toggle='tooltip', data-trigger='manual', data-title='Caps lock is on', name='email', placeholder='Email-ID', required='')
            br
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#pwd.form-control(type='password', data-toggle='tooltip', data-trigger='manual', data-title='Caps lock is on', name='password', placeholder='Password', required='')
            br
            #error-container #{message}
            br
            div
              button#signin.btn.btn-info(type='submit') Sign In 
              &emsp;
              a(href='/signup')
                button#signup.btn.btn-info(type='button') Sign Up
            p or
            #div-facebook
              a(href='/auth/facebook')
                button#facebook.btn.btn-info(type='button') Facebook
            br
            #div-google
              a(href='/auth/google')
                button#google.btn.btn-danger(type='button') Google
          div
            a(href='/forgotpassword')
              u Forgot Password?
        center
          #content             
              
