html
  head
    title Fundoo-Notes
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/fun.css')
    script(src='./css/jquery.min.js')
    script(src='./css/bootstrap.min.js ')
    script(src='./js/validation.js')
  style.
    #error-container {
    color: #FF0000;
    }
  body
    br
    br
    br
    center
      .panel.panel-primary(style='max-width: 350')
        .panel-heading(style='max-height: 50;') EMAIL VERIFICATION
        #index-heading.panel-body(style='overflow:hidden')
          br
          form#form1
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#otp.form-control(type='password',name='otp',placeholder='One Time Password',value="#{otp}")
            br
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input#username.form-control(type='text', data-toggle='tooltip', data-trigger='manual', data-title='Caps lock is on', name='username', placeholder='User Name', required='')
            br
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#pwd.form-control(type='password', data-toggle='tooltip', data-trigger='manual', data-title='Caps lock is on', name='password', placeholder='Password', required='')
            br
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#confirmpwd.form-control(type='password', data-toggle='tooltip', data-trigger='manual', data-title='Caps lock is on', name='confirmpassword', placeholder='Password', required='')
            br
            #error-container #{message}
            br
            div
              button.btn.btn-info(type='button' onclick='setPassword("#{id}")') Sign Up
